
.resp-flag {
  display: none;
  margin-top: 0;
}

/* something like a phone */
@media only screen and (max-width: 767px) {

  .resp-flag {
    margin-top: 10px;
  }

  
}

/* something like a phone, for modals */
@media only screen and (max-width: 450px) {

  .resp-flag {
    margin-top: 20px;
  }

  .modal {
    width: 99%;

    .modal-inner {
      border-top: 1px solid $dark-gray;
      border-bottom: 1px solid $dark-gray;
      border-left: none;
      border-right: none;

      -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
      border-radius: 0px;

    }
  }

}

/* something like a phone in portrait mode */
@media only screen and (max-width: 767px) and (orientation: portrait) {

  .resp-flag {
    margin-top: 30px;
  }
}