
$blue: #0000ff;
$dark-blue: #000099;
$error-red: #990000;
$white: #ffffff;
$black: #000000;

$gray: #d8d8d8;
$dark-gray: #c7c7c7;
$darker-gray: #404040;
$light-gray: #e8e8e8;
$mid-gray: #E5E5E5;
$steel-gray: #8FA3B4;
$placeholder-gray: #afbac3;
$closed-gray: #C8D2DB;

$blue: #0088CC;
$icon-blue: #26A8E4;
$yellow-highlight: #FFD930;
$orange: #F2B021;
$dark-orange: #F0BA00;
$green: #009900;
$button-blue: #8AC3CE;
$button-pink: #F18785;
$light-yellow: #fcf8e3;
$light-blue: #8DD9FC;



@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin kill-border() {
  border: none; 
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;     
}

@mixin opacity( $amount ) {
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=$amount)"; 
  filter: alpha(opacity=$amount); 
  opacity: ($amount / 100)
}

@mixin circle( $width , $color ){
  background-color: $color;
  @include border-radius(50%);
  width: $width;
  height: $width;
}

@mixin drop-shadow( $horz, $vert, $blur , $spread , $color ) {
  -webkit-box-shadow: $horz $vert $blur $spread $color;
  -moz-box-shadow: $horz $vert $blur $spread $color;
  box-shadow: $horz $vert $blur $spread $color;
}  

@mixin lightgray-drop-shadow() {
  @include drop-shadow( 1px , 1px , 1px , 0px , rgba(0,0,0,0.27) );
  }

@import 'normalize';

@import 'skeleton1200';

@import 'main';
