doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')

    <!--[if lt IE 9]>
    script(src='/javascripts/html5.js')
    <![endif]-->      

    script(src='/javascripts/webfont.js')

  body
    block content

    if templateRender
      != templateRender( content_path , locals)

    span(class="resp-flag")

    script.
      var jsBehaviors = {};
      var jsData = !{jsData};

    each script in javascripts
      script(src='/javascripts/' + script)